.page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px max-content;
}
.page > .links {
	grid-column: 1 / 3;
}
.sidebar,
.docs {
	height: max-content;
	position: sticky;
	bottom: 50%;
}

.sideitemname {
	position: sticky;
	top: 0;
}
.sidebarlist.hide {
	display: none;
}
